* {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;

}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
}

body {
    overflow-x: hidden;
    position: relative;
}
.title{
    text-align: center;
}
.title h3{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 20px;

}
/*=====================================================Nav-bar-start========================================================================*/

nav {
    background: rgba(14, 14, 14, 0.5);
    position: fixed !important;
    width: 100%;
    top: 30px;
    left: 0;
    z-index: 9999;
}

nav .nav-item {
    margin: 0 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

nav .nav-item .nav-link {
    color: #fff;
    padding: 20px 10px;
    transition: 0.4s;
    position: relative;
}

nav .nav-item .nav-link::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 0;
    height: 2px;
    background: red;
    transition: 0.4s;

}

nav .nav-item .nav-link:hover {
    background: #ffffff;
    color: #222;

}

nav .nav-item .nav-link:hover::after {
    width: 100%;
}

.nav-shape {
    background: rgba(50, 50, 50, 0.5);
    padding: 15px 30px;
    position: absolute;
    left: 0;
    top: -10px;
    transform: skew(-30deg);
}

.nav-shape img {
    transform: skew(30deg);
}


/*=====================================================Nav-bar-End========================================================================*/
/*=====================================================Banner-part-start========================================================================*/

#banner .banner-tab-one {
    background: url("../images/banner-tab-one.png") no-repeat center;
    background-size: cover;
    text-align: center;

}

#banner .banner-overlay {
    background: rgba(34, 34, 34, 0.5);
    padding: 120px 0;
    width: 100%;
    height: 100%;
}

#banner .banner-box {
    background: url("../images/banner-box.png") no-repeat center;
    width: 100%;
    height: 100%;
    margin-top: 100px;


}

#banner h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
}

#banner h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    color: #e23e38;
    padding: 15px 0;
}

#banner p {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;


}

#banner .button {
    padding: 30px;

}

#banner .button a {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 15px;
    margin: 0 15px;
    transition: 0.4s;
}

#banner .button a:hover {
    border: 1px solid #e23e38;
    background: #e23e38;
}

#banner .banner-tab-two {
    background: url("../images/banner-tab-two.png") no-repeat center;
    background-size: cover;
    text-align: left;

}

#banner .banner-tab-three {
    background: url("../images/banner-tab-three.png") no-repeat center;
    background-size: cover;
    text-align: left;

}

#banner .banner-text {
    margin-top: 100px;
}

#banner .banner-slider {
    position: relative;
}

#banner .banner-slider .prev {
    position: absolute;
    top: 50%;
    left: 10px;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 15px;
    border-radius: 50%;
    z-index: 222;
    transform: translateY(-50%);
    cursor: pointer;

}

#banner .banner-slider .next {
    position: absolute;
    top: 50%;
    right: 10px;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 15px;
    border-radius: 50%;
    z-index: 222;
    transform: translateY(-50%);
    cursor: pointer;

}

#banner .slick-slider .slick-dots {
    font-size: 0;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

#banner .slick-slider .slick-dots li {
    display: inline-block;
    margin: 10px;


}

#banner .slick-slider .slick-dots li button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background: transparent;
    outline: none;
}

#banner .slick-slider ul .slick-active button {
    background: #e23e38;
    border: 1px solid #e23e38;

}

/*=====================================================Banner-part-End========================================================================*/
/*=====================================================about-part-start ========================================================================*/

#about {
    padding: 80px;
}

#about .image {
    position: relative;
    overflow: hidden;
}

#about .img-overlay {
    background: rgba(34, 34, 34, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#about .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #e23e38;
    text-align: center;
    cursor: pointer;

}

#about .icon i {
   line-height: 70px;
    font-size: 40px;
    color: #222222;



}
#about .about-right p{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-top: 30px;
    color: #222222;
}


/*=====================================================about-part-end ========================================================================*/
/*=====================================================gallery-part-start ========================================================================*/

#gallery .gallery-tab{
    margin-top: 30px;
    background: url("../images/gallery-bg.png") no-repeat center;
    background-size: cover;
}

#gallery .gallery-tab .overlay {
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.5);
    padding: 30px 0;
}

#gallery .item {
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}

#gallery .item .images-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    width: 100%;
    height: 100%;
    background: rgba(176, 72, 52, .6);
    border: 5px solid #e1e3db;
    transition: 0.4s;
}

#gallery .item:hover .images-overlay {
    transform: scale(1);
}

#gallery .item .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#gallery .item .icon i {
    font-size: 30px;
    color: #ffffff;


}


/*=====================================================gallery-part-end ========================================================================*/
/*===================================================== our team - start ========================================================================*/
#team {
    padding: 100px 0;
}

#team .team-tab .item {
    margin-top: 40px;
}

#team .team-tab .images {
    background: #f1f1f1;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    position: relative;
}

#team .team-tab .images-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0) translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background: rgba(176, 72, 52, .6);
    border: 2px solid #e1e3db;
    transition: 0.4s;


}

#team .team-tab .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#team .team-tab .icon a {
    display: block;
    font-size: 16px;
    text-align: center;
    width: 30px;
    height: 30px;
    color: #ffffff;
    border: 1px solid #fff;
    line-height: 30px;
    margin: 10px;
    transition: 0.4s;

}

#team .team-tab .text {
    text-align: center;
    padding: 20px 0;

}

#team .team-tab .text h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}

#team .team-tab .text h5 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
}

#team .team-tab .text p {
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-top: -40px;
    transition: 0.4s;
    opacity: 0;
}

#team .team-tab .item:hover .images-overlay {
    transform: scale(1) translate(-50%, -50%);

}

#team .team-tab .item .icon a:hover {
    background: #ffffff;
    color: #1da0f2;

}

#team .team-tab .item:hover .text p {
    transform: scale(1);
    opacity: 1;
    margin-top: 0;
}

#team .item:hover {
    border: 1px solid #e1e3db;
}

/*===================================================== our team-end ========================================================================*/
/*===================================================== Testimonial-start ========================================================================*/
#testimonial .testimonial-tab {
    background: url("../images/test-bg.png") no-repeat center;
    background-size: cover;
    margin-top: 30px;
}

#testimonial .testimonial-tab .overlay {
    background: rgba(34, 34, 34, 0.5);
    padding: 30px 0 50px 0;
}

#testimonial .testimonial-tab .feed-tab {
    display: flex;

}

#testimonial .testimonial-tab .feed-tab .img {
    padding: 0 10px;
}

#testimonial .testimonial-tab .feed-tab h5 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px;
    color: #ffffff;
}

#testimonial .testimonial-tab .feed-tab .icon {
    color: #e23e38;
}

#testimonial .testimonial-tab .feed-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    width: 540px;
    color: #ffffff;
    padding-left: 10px;
    line-height: 24px;
}

#testimonial .item {
    outline: none;
}

#testimonial .slick-slider .slick-dots {
    font-size: 0;
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
}

#testimonial .slick-slider .slick-dots li {
    display: inline-block;
    margin: 0 10px;


}

#testimonial .slick-slider .slick-dots li button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background: transparent;
    outline: none;
}

#testimonial .slick-slider ul .slick-active button {
    background: #e23e38;
    border: 1px solid #e23e38;

}

/*===================================================== Testimonial-end ========================================================================*/
/*===================================================== Member-start ========================================================================*/
#member {
    padding: 100px 0;
}

#member .member-tab {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#member .member-tab .item {
    background: #dddddd;
    width: 350px;
    text-align: center;
}

#member .member-tab .item .mem-head {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0;
    text-transform: uppercase;
    transition: 0.4s;
}

#member .member-tab .mem-mid {
    background: url("../images/mem-1.png") no-repeat center;
    background-size: cover;

}

#member .member-tab .mem-overlay {
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.6);
    padding: 40px 0;
}

#member .member-tab .mem-mid h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 600;
    display: inline-block;
    color: #ffffff;
}

#member .member-tab .mem-mid h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 29px;
    font-weight: 600;
    display: inline-block;
    color: #ffffff;
}

#member .member-tab .mem-service {
    padding: 20px 0;
}

#member .member-tab .mem-service p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0;
}

#member .member-tab .mem-footer {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0;
    background: #d2d0d0;
    transition: 0.4s;
}

#member .item:hover .mem-head {
    background: #e23e38;
    color: #ffffff;
}

#member .item:hover .mem-footer {
    background: #e23e38;
    color: #ffffff;
}

#member .member-tab .pro {
    background: url("../images/mem-2.png") no-repeat center;
    background-size: cover;
}

#member .stn {
    background: url("../images/mem-3.png") no-repeat center;
    background-size: cover;
}

/*===================================================== member-end ========================================================================*/
/*===================================================== counter-start ========================================================================*/
#counter {
    background: url("../images/counter-bg.png") no-repeat center;
    background-size: cover;
}

#counter .counter-overlay {
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.5);
    padding: 40px 0;
}

#counter .counter-tab {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#counter .counter-tab .item .text h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
}

#counter .counter-tab .item .text h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;

}


/*===================================================== counter-end ========================================================================*/
/*===================================================== class-start ========================================================================*/
#class {
    padding: 100px 0;
}

#class .days {
    background: #f1f1f1;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#class .days .day {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    transition: 0.4s;
    width: 190px;
}

#class .days .day:hover {
    background: #e23e38;
    color: #ffffff;
}

#class .class-tab .item {
    background: #f1f1f1;
    padding: 50px 30px;
    display: inline-block;
    text-align: center;
    transition: 0.4s;
    margin: 5px 2px;
}

#class .class-tab .item .cls-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 0;
}

#class .class-tab .item .class-time {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 0;
}

#class .class-tab .item:hover {
    background: #e23e38;
    color: #ffffff;
}

/*===================================================== class-end ========================================================================*/
/*===================================================== sponsor-start ========================================================================*/
#sponsor .sponsor-tab {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    position: relative;
}

#sponsor .sponsor-tab .item {
    background: #f1f1f1;
    padding: 30px 10px;
    display: inline-block;
    text-align: center;
    margin: 0 5px;
    outline: none;
}

#sponsor .sponsor-tab .prev {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    font-size: 28px;
    transition: 0.4s;

}

#sponsor .sponsor-tab .next {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    font-size: 28px;
    transition: 0.4s;

}

#sponsor .sponsor-tab .prev:hover {
    color: #e23e38;
}

#sponsor .sponsor-tab .next:hover {
    color: #e23e38;
}


/*===================================================== sponsor-end ========================================================================*/
/*===================================================== contact-start ========================================================================*/
#contact {
    background: url("../images/contact-bg.png") no-repeat center;
    background-size: cover;
}

#contact .contact-overlay {
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.8);
}

#contact .contact-overlay .con-logo {
    padding: 30px 0;
    text-align: center;
}


/*===================================================== contact-end ========================================================================*/
